.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #80c4ff;
    padding-top: 20px;
  }
  
  .footer-content {
    text-align: center;
    padding: 20px 0;
  }